cachetools==5.3.1
certifi==2020.6.20
chardet==4.0.0
dbus-python==1.2.16
distro-info==1.0
google-api-core==2.11.1
google-auth==2.20.0
google-cloud-aiplatform==1.26.0
google-cloud-bigquery==3.11.1
google-cloud-core==2.3.2
google-cloud-resource-manager==1.10.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpc-google-iam-v1==0.12.6
grpcio==1.54.2
grpcio-status==1.54.2
httplib2==0.18.1
idna==2.10
packaging==23.1
proto-plus==1.22.2
protobuf==4.23.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycurl==7.43.0.6
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
#reportbug==7.10.3+deb11u1
requests==2.25.1
rsa==4.9
Shapely==1.8.5.post1
six==1.16.0
termcolor==2.3.0
#unattended-upgrades==0.1
urllib3==1.26.5
